.flex {
  display: flex; }

.align-center {
  align-items: center; }

.flex--center {
  justify-content: center; }

.flex-1 {
  flex: 1; }

.posa {
  position: absolute; }

.posr {
  position: relative; }

.txt-center {
  text-align: center; }

.flex--start {
  justify-content: flex-start; }

.flex--end {
  justify-content: flex-end; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

.fit {
  object-fit: cover;
  object-position: center center; }

.columns {
  flex-direction: column; }

.rows {
  flex-direction: row; }

.flex--space-around {
  justify-content: space-around; }

.flex--space-between {
  justify-content: space-between; }

body {
  padding: 0;
  margin: 0;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
  background-color: #968130; }

.aboutmeskills {
  height: 100vh; }

h1 {
  margin: 0px; }

.main-body {
  z-index: -1; }

.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: white;
  padding-top: 30px; }

.m_logo {
  font-weight: 700;
  font-size: 12px;
  margin-left: 30px; }

.mi {
  cursor: pointer;
  color: #968130;
  font-weight: 100; }

.mi .icon {
  display: none; }

.UXT .show {
  display: none; }

.wdt .show {
  display: none; }

a {
  margin-left: 5px;
  text-decoration: none;
  color: #ddc13a; }
  a:hover {
    color: #b2a052; }

.boxlogo {
  margin-left: 20px;
  font-size: 15px;
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ddc13a; }

.amt {
  font-family: "komu-b",sans-serif;
  font-weight: 400; }

.mst {
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: white; }

.wdadt {
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #968130; }

.photot {
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
  font-size: 40px; }

.UXt {
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 40px; }

.cm {
  margin-right: 20px;
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px; }

.user {
  font-size: 10px;
  color: white; }

.pass {
  font-size: 10px;
  color: white; }

.btn1 {
  border: 2px solid black; }

.midlogo {
  color: white;
  letter-spacing: 60px;
  font-size: 10px; }

.under_lg {
  margin: 0;
  font-weight: 700;
  color: #bfa319;
  font-size: 20px; }

.photo_d {
  font-style: italic; }

.circle {
  width: 100px;
  height: 100px;
  background: lightgrey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.count {
  line-height: 100px;
  color: white;
  margin-left: 30px;
  font-size: 150px;
  font-weight: 700; }

.rightimg {
  height: 703px; }

.left {
  margin-left: 130px; }

.name {
  color: #d8d4c0;
  font-size: 15px;
  margin: 0; }

.profile {
  color: #c1c1c1;
  font-weight: 300;
  font-size: 12px;
  width: 40%;
  margin: 0px; }

.ctv {
  color: #ddc13a;
  font-weight: 300;
  margin: 0px; }

.rating {
  color: #000000;
  font-weight: 300;
  font-size: 25px;
  margin: 0px; }

.main_txt {
  color: white; }
  .main_txt h1 {
    font-size: 40px; }
  .main_txt h2 {
    font-size: 20px; }
  .main_txt p {
    font-size: 15px; }

.space_d {
  margin-right: 50px; }

.main_txt .smallerh1 {
  font-size: 28px; }

.mid_sec {
  color: black; }

.work {
  background: white;
  color: black; }

.top_work {
  color: #968130; }

.categories {
  font-size: 15px; }

div.tab {
  overflow: hidden; }

.tabcontent {
  display: none; }

div.categories button.active {
  color: white; }

button {
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 900;
  border: 3px solid white;
  padding: 20px 40px;
  margin-left: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  background: none; }
  button:hover {
    border: 3px solid white;
    color: white; }

.tabcontent {
  color: black; }

.title {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 900; }

.jfp {
  padding: 30px 90px; }

.vyco {
  padding: 50px 100px;
  background: black; }
  .vyco p {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 70px;
    color: #9F804A;
    margin: 0; }

.box {
  margin-left: 5px; }

a {
  cursor: pointer; }

.link_web {
  cursor: pointer; }

.food1 {
  width: 240px;
  opacity: 0.5; }

.shop1 {
  width: 240px;
  opacity: 0.5; }

.law1 {
  width: 240px;
  opacity: 0.5; }

.vy1 {
  width: 240px;
  opacity: 0.5; }

.aik1 {
  width: 240px;
  opacity: 0.5; }

.md {
  margin: 0; }

img:hover {
  opacity: 1;
  transition: 0.5s; }

img {
  cursor: pointer; }

.sea1 {
  width: 400px; }

.sea2 {
  width: 400px; }

.sea3 {
  width: 400px; }

.sea4 {
  width: 400px; }

.sea5 {
  width: 400px; }

.sea6 {
  width: 400px; }

.sea7 {
  width: 400px; }

.vib1 {
  width: 250px;
  height: 150px; }

.vib2 {
  width: 250px;
  height: 150px; }

.vyy {
  width: 244.0625px;
  height: 155.3125px; }

.ia2i1 {
  width: 229px;
  height: 130px; }

.ia2i2 {
  width: 200px; }

.po2 {
  width: 154.1770815px;
  height: 220.546875px; }

.ch1 {
  width: 178.3333335px;
  height: 238.6666665px; }

.pl1 {
  width: 234.5px;
  height: 129.25px; }

.pl2 {
  width: 156.534724px;
  height: 277.777778px; }

.wholesection {
  margin-right: 10px;
  margin-bottom: 20px; }

.t3 {
  font-size: 10px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: white; }

.t1 {
  font-size: 10px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: white; }

.t2 {
  font-size: 10px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: white; }

.t4 {
  font-size: 10px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: white; }

/* Slideshow container */
.slideshow-container {
  width: 20%;
  position: relative;
  margin: auto;
  z-index: 999; }

/* Hide the images by default */
.mySlides {
  display: none; }

.mySlides1 {
  display: none; }

.mySlides2 {
  display: none; }

.mySlides3 {
  display: none; }

.mySlides4 {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: orange;
  font-weight: bold;
  font-size: 18px; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px; }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#s4slide3 {
  background: url("imgs/pocketlearner2wireframes-02.svg") center;
  background-repeat: no-repeat; }
  #s4slide3 .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent orange transparent transparent; }

.linkp {
  cursor: pointer; }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

img {
  margin-bottom: -4px; }

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.as {
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-align: center; }

.aminfo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 11px;
  width: 300px;
  text-align: center; }

.wdt {
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none; }

.UXT {
  color: white;
  text-decoration: none;
  font-size: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  font-family: "komu-b",sans-serif;
  font-weight: 200; }

.3da {
  font-weight: 400; }
  .3da h1 {
    font-size: 20px; }
  .3da h2 {
    font-size: 10px; }

.poo {
  width: 240px;
  opacity: 0.5; }

.po {
  width: 80px;
  opacity: 0.5; }

p {
  margin: 0px; }

.back {
  background: #604f27;
  padding: 50px 0px 0px 0px; }

@media only screen and (max-width: 600px) {
  .main_txt {
    text-align: center;
    padding: 0px 20px;
    color: white; }
    .main_txt h1 {
      font-size: 30px; }
    .main_txt h2 {
      font-size: 13px;
      font-weight: 300; }
    .main_txt p {
      font-size: 10px;
      font-weight: 100; }
    .main_txt .smallerh1 {
      font-size: 18px; }
  .mst {
    font-size: 30px; }
  .wdt {
    padding: 5px 10px;
    margin: 0px;
    border: none;
    cursor: pointer; }
  .UXT {
    padding: 5px 10px;
    margin: 0px;
    border: none;
    cursor: pointer; }
  .UXT .show {
    display: inline;
    text-align: center; }
  .wdt .show {
    display: inline;
    text-align: center; }
  .bars1.responsive {
    position: relative; }
  .bars1.responsive .wdt {
    position: absolute;
    right: 0;
    top: 0; }
  .bars1.responsive object {
    float: none;
    display: block;
    text-align: left; }
  .bars2.responsive {
    position: relative; }
  .bars2.responsive .UXT {
    position: absolute;
    right: 0;
    top: 0; }
  .bars2.responsive object {
    float: none;
    display: block;
    text-align: left; }
  .bars1 object {
    display: none; }
  .bars2 object {
    display: none; }
  .whole {
    flex-direction: column; }
  .wdadt {
    font-size: 30px; }
  .food1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .shop1 {
    width: 234.65625px;
    height: 132px;
    opacity: 0.5; }
  .law1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .vy1 {
    width: 232.875px;
    height: 131.90625px;
    opacity: 0.5; }
  .aik1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .t3 {
    font-size: 10px;
    font-family: "komu-b",sans-serif;
    font-weight: 200;
    letter-spacing: 2px; }
  .t1 {
    font-size: 10px;
    font-family: "komu-b",sans-serif;
    font-weight: 200;
    letter-spacing: 2px; }
  .t2 {
    font-size: 10px;
    font-family: "komu-b",sans-serif;
    font-weight: 200;
    letter-spacing: 2px; }
  .t4 {
    font-size: 10px;
    font-family: "komu-b",sans-serif;
    font-weight: 200;
    letter-spacing: 2px; }
  .categories {
    text-align: center;
    flex-direction: column; }
    .categories button {
      margin-bottom: 5px;
      padding: 10px 20px; }
  .UXt {
    text-align: center; }
  .difcategories {
    text-align: center;
    flex-direction: column; }
  #section-4 button {
    margin-bottom: 5px;
    padding: 10px 20px; }
  .mi a {
    display: none; }
  .mi a.icon {
    display: block; }
  .mi.responsive {
    position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    top: 0; }
  .mi.responsive a {
    float: none;
    display: block;
    text-align: center; }
  .sizemw {
    text-align: center;
    font-family: "komu-b",sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400; }
  .vib1 {
    width: 140.75px;
    height: 84.375px; }
  .vib2 {
    width: 140.75px;
    height: 84.375px; }
  .vyy {
    width: 137.285156px;
    height: 87.3632812px; }
  .ia2i1 {
    width: 128.8125px;
    height: 73.125px; }
  .ia2i2 {
    width: 112.5px; }
  .po2 {
    width: 77.088541px;
    height: 110.273488px; }
  .ch1 {
    width: 89.16667px;
    height: 119.333333px; }
  #Level1 p {
    font-size: 10px; }
  #Level2 p {
    font-size: 10px;
    margin: 0; }
  #Level2 h3 {
    font-size: 12px;
    margin: 0; }
  #Level2 video {
    width: 240px;
    height: 180px; }
  .UXt {
    text-align: center; }
  .pl1 {
    width: 234.5px;
    height: 129.25px; }
  .pl2 {
    width: 156.534724px;
    height: 277.777778px; }
  .part1 h1 {
    font-size: 14px; }
  .part2 h1 {
    font-size: 14px; }
  .part3 h1 {
    font-size: 14px; }
  .part4 h1 {
    font-size: 14px; }
  .po {
    width: 240px; }
  .websec div {
    display: flex;
    flex-direction: column; }
    .websec div p {
      margin-top: 10px; } }

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .main_txt {
    text-align: center;
    padding: 0px 20px;
    color: white; }
    .main_txt h1 {
      font-size: 30px; }
    .main_txt h2 {
      font-size: 13px;
      font-weight: 300; }
    .main_txt p {
      font-size: 10px;
      font-weight: 100; }
    .main_txt .smallerh1 {
      font-size: 18px; }
  .mst {
    font-size: 30px; }
  .wdt {
    padding: 5px 10px;
    margin: 0px;
    border: none;
    cursor: pointer; }
  .UXT {
    padding: 5px 10px;
    margin: 0px;
    border: none;
    cursor: pointer; }
  .UXT .show {
    display: inline;
    text-align: center; }
  .wdt .show {
    display: inline;
    text-align: center; }
  .bars1.responsive {
    position: relative; }
  .bars1.responsive .wdt {
    position: absolute;
    right: 0;
    top: 0; }
  .bars1.responsive object {
    float: none;
    display: block;
    text-align: left; }
  .bars2.responsive {
    position: relative; }
  .bars2.responsive .UXT {
    position: absolute;
    right: 0;
    top: 0; }
  .bars2.responsive object {
    float: none;
    display: block;
    text-align: left; }
  .bars1 object {
    display: none; }
  .bars2 object {
    display: none; }
  .whole {
    flex-direction: column; }
  .wdadt {
    font-size: 30px; }
  .food1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .shop1 {
    width: 234.65625px;
    height: 132px;
    opacity: 0.5; }
  .law1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .vy1 {
    width: 232.875px;
    height: 131.90625px;
    opacity: 0.5; }
  .aik1 {
    width: 240px;
    height: 131.90625px;
    opacity: 0.5; }
  .t3 {
    font-size: 12px; }
  .t1 {
    font-size: 12px; }
  .t2 {
    font-size: 12px; }
  .t4 {
    font-size: 12px; }
  .categories {
    text-align: center;
    flex-direction: column; }
    .categories button {
      margin-bottom: 5px;
      padding: 10px 20px; }
  .UXt {
    text-align: center; }
  .difcategories {
    text-align: center;
    flex-direction: column; }
  #section-4 button {
    margin-bottom: 5px;
    padding: 10px 20px; }
  .mi a {
    display: none; }
  .mi a.icon {
    display: block; }
  .mi.responsive {
    position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    top: 0; }
  .mi.responsive a {
    float: none;
    display: block;
    text-align: center; }
  .sizemw {
    text-align: center;
    font-family: "komu-b",sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400; }
  .vib1 {
    width: 140.75px;
    height: 84.375px; }
  .vib2 {
    width: 140.75px;
    height: 84.375px; }
  .vyy {
    width: 137.285156px;
    height: 87.3632812px; }
  .ia2i1 {
    width: 128.8125px;
    height: 73.125px; }
  .ia2i2 {
    width: 112.5px; }
  .po2 {
    width: 77.088541px;
    height: 110.273488px; }
  .ch1 {
    width: 89.16667px;
    height: 119.333333px; }
  #Level1 p {
    font-size: 10px; }
  #Level2 p {
    font-size: 10px;
    margin: 0; }
  #Level2 h3 {
    font-size: 12px;
    margin: 0; }
  #Level2 video {
    width: 240px;
    height: 180px; }
  .UXt {
    text-align: center; }
  .pl1 {
    width: 234.5px;
    height: 129.25px; }
  .pl2 {
    width: 156.534724px;
    height: 277.777778px; }
  .part1 h1 {
    font-size: 14px; }
  .part2 h1 {
    font-size: 14px; }
  .part3 h1 {
    font-size: 14px; }
  .part4 h1 {
    font-size: 14px; }
  .po {
    width: 20%; } }

.pneumabackground {
  background-color: #FEFFF6; }

.outsetbackground {
  background-color: #191818; }

.purebackground {
  background-color: #A79BCA; }

.plbackground {
  background-color: #fff; }

.debackground {
  background-color: black; }

.hsbcbackground {
  background-color: #fff; }

.info1 {
  padding: 80px 0px; }

.info2 h1 {
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  font-size: 28px; }

.outsetinfo {
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200; }
  .outsetinfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .outsetinfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .outsetinfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }

a {
  margin: 0px; }

.info3 {
  color: #3D3836;
  padding: 80px 0px;
  font-family: "komu-b",sans-serif; }

.info4 {
  font-family: "komu-b",sans-serif;
  color: #3D3836; }

.pneumainfo {
  color: #3D3836;
  font-family: "komu-b",sans-serif;
  font-weight: 200; }
  .pneumainfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .pneumainfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .pneumainfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }

.info5 {
  font-family: "komu-b",sans-serif;
  color: #fff;
  padding: 80px 0px; }

.pureinfo {
  color: #fff;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 110px; }
  .pureinfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .pureinfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .pureinfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px; }

.info6 {
  font-family: "komu-b",sans-serif;
  color: #fff;
  margin: 0px; }
  .info6 h3 {
    font-size: 18px; }

.info7 {
  font-family: "komu-b",sans-serif;
  color: #fff; }
  .info7 h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .info7 h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .info7 p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }

.info8 {
  font-family: "komu-b",sans-serif;
  color: black; }
  .info8 h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .info8 h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .info8 p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }

.plinfo {
  color: black;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 110px;
  padding: 80px 0px; }
  .plinfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .plinfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .plinfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px; }

.deinfo {
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200; }
  .deinfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .deinfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .deinfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }

.HSBCinfo {
  color: red !important;
  font-family: "komu-b",sans-serif;
  font-weight: 200; }
  .HSBCinfo a.color {
    color: red !important; }
  .HSBCinfo h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0px; }
  .HSBCinfo h2 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px; }
  .HSBCinfo p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 11px;
    width: 500px;
    text-align: center; }
