@import "flex";
body{
  padding: 0;
  margin:0;
  background-color: white;
}

.aboutmeskills{
  height:100vh;
}
h1{
  margin: 0px;
}

.main-body{
  z-index: -1;
}
.nav{
  z-index: 1;
  width:100%;
  color: black;
  padding-top: 25px;
}
.m_logo{
  font-weight: 700;
  font-size: 12px;
  margin-left:30px;
}
.mi{
  cursor:pointer;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.UXT .show {
  display: none;
}
.wdt .show {
  display: none;
}
a{
  margin-left: 5px;
  text-decoration: none;
  color: black;
  &:hover{
    color: #ddc139;
  }
}
.boxlogo{
  margin-left: 20px;
  font-size: 10px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 7px;
  color: black;
}
.m{
  margin-right: 70px;
}
.amt{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
}
.mst{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
.wdadt{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #968130;
}

.photot{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.UXt{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.cm{
  margin-right: 20px;
  margin-left: 20px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.user{
  font-size:10px;
  color: white;
}
.pass{
  font-size: 10px;
  color: white;
}
.btn1{
  border:2px solid black;

}

.midlogo{
  color: white;
  letter-spacing: 60px;
  font-size: 10px;

}
.under_lg{
  margin: 0;
  font-weight: 700;
  color: #bfa319;
  font-size: 20px;
}
.photo_d{
  font-style: italic;
}
.circle{
  width: 100px;
	height: 100px;
	background: lightgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.count{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size: 150px;
  font-weight: 700;
}

.rightimg{
  height:703px;
}

.name{
  color: #d8d4c0;
  font-size: 15px;
  margin: 0;
}
.profile{
  color: #c1c1c1;
  font-weight: 300;
  font-size: 12px;
  width: 40%;
  margin: 0px;
}
.ctv{
  color: #ddc13a;
  font-weight: 300;
  margin:0px;
}
.rating{
  color: #000000;
  font-weight: 300;
  font-size: 25px;
  margin:0px;
}
.main_txt{
  color: white;
h1{
  font-size: 40px;
}
h2{
  font-size: 20px;
}
p{
  font-size: 15px;
}
}
.space_d{
  margin-right: 50px;
}
.main_txt{
    .smallerh1{
      font-size: 28px;
}
}
.mid_sec{
  color: black;
}
.work{
  background: white;
  color: black;
}
.top_work{
  color: #968130;
}
.add{
  width: max-content !important;
}
.categories{
  font-size: 15px;
}
div.tab{
overflow: hidden;
}
.tabcontent {
    display: none;
}
div.categories button.active {
    color: white;
}
button{
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 900;
  border: 3px solid white;
  padding: 20px 40px;
  margin-left: 10px;
  cursor:pointer;
  letter-spacing: 2px;
  background: none;
  &:hover{
    border: 3px solid white;
    color: white;
  }
}
.tabcontent{
  color: black;
}
.title{
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 900;
}
.jfp{
  padding: 30px 90px;
}
.vyco{
  padding: 50px 100px;
  background: black;
  p{
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 70px;
    color: #9F804A;
    margin:0;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: lightgrey;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.box{
  margin-left: 5px;
}
a{
  cursor:pointer;
}
.link_web{
  cursor: pointer;
}
.food1{
  width:100%;
  opacity: 0.9;
}
.shop1{
  width:100%;
  opacity: 0.9;
}
.law1{
  width:100%;
  opacity: 0.9;
}
.vy1{
  width:100%;
  opacity: 0.9;
}
.aik1{
  width:100%;
  opacity: 0.9;
}
.poo{
  width:100%;
  opacity: 0.9;
}
.dv{
  width:639.91px;

}

.md{
  margin:0;
}

img:hover{
  opacity: 1;
  transition: 0.5s;
}
img{
  cursor:pointer;
}
.sea1{
  width:400px;
}
.sea2{
  width:400px;
}
.sea3{
  width:400px;
}
.sea4{
  width:400px;

}
.sea5{
  width:400px;

}
.sea6{
  width:400px;

}
.sea7{
  width:400px;

}
.vib1{
  width:250px;
  height:150px;
}
.vib2{
  width:250px;
  height:150px;
}
.vyy{
  width:244.0625px;
  height:155.3125px;
}
.ia2i1{
  width:229px;
  height:130px;
}
.ia2i2{
  width:200px;
}
.po2{
  width:154.1770815px;
  height:220.546875px;
}
.ch1{
  width:178.3333335px;
  height:238.6666665px;
}
.pl1{
  width:234.5px;
  height:129.25px;
}
.pl2{
  width: 156.534724px;
  height: 277.777778px;
}

.t3{
  font-size: 19px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: black;
}
.t1{
  font-size: 19px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: black;
}
.t2{
  font-size: 19px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: black;
}
.t4{
  font-size: 19px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: black;
}

/* Slideshow container */
.slideshow-container {
  width: 20%;
  position: relative;
  margin: auto;
  z-index: 999;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides1 {
    display: none;
}
.mySlides2 {
    display: none;
}
.mySlides3 {
    display: none;
}
.mySlides4 {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: orange;
  font-weight: bold;
  font-size: 18px;

}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#s4slide3{
background: url("imgs/pocketlearner2wireframes-02.svg") center;
background-repeat: no-repeat;

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent orange transparent transparent;
}
}
.linkp{
  cursor: pointer;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.as{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 1.50rem;
  letter-spacing: 4px;
  color: white;
  text-align: center;
}
.boxo{
  border: 2px black solid;
  background: black;
  padding: 10px 10px 10px 1400px;
}
.boxo3{
  border: 2px white solid;
  background: white;
  padding: 10px 10px 10px 1400px;
}
.wu{
  font-family: "komu-b",sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  padding-top: 50px;
}

.aminfo{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-align: center;
}
.wdt{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;

}
.UXT{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
}

.3da{
  font-weight: 400;
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 10px;
  }
}
.po{
  width:80px;
  opacity: 0.5;
}
p{
  margin: 0px;
}
.back{
  background: #fff;
  padding:25px 0px 0px 0px;
  font-size: 0;
}
.rimg{
  width:900px;
}
.white{
  color: white!important;
}
.black{
  color: black;
}
.widthforbigscreen{
  width: 600px ;
}
.gap{
  margin-left: 10px;
}
.heightforbigscreen{
  height: 600px;
}
.driveposter{
  height:700px;
}
.ds{
  height:500px;
}
.akinfo{
  color: #8D581E;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-right: 50px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px !important;
  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    width:500px;
  }
}
.info3{
    color: #3D3836;
    padding: 0px 0px;
    font-family: "komu-b",sans-serif;
    height: 100vh;
}
.lfa{
  font-family: "komu-b",sans-serif;
  font-size: 50px;
  letter-spacing: 30px;
  padding-bottom: 30px;
  padding-top: 0px;
}
.pneumabackground{
  background-color: #FEFFF6;
}
.outsetbackground{
  background-color: #191818;
}
.purebackground{
  background-color: #A79BCA;
}
.plbackground{
  background-color: #fff;
}
.debackground{
  background-color: black;
}
.hsbcbackground{
  background-color: #fff;
}
.ctbackground{
  background-color: #fff;
}
.ksbackground{
  background-color: #666666;
}
.tfcbackground{
  background-color: #fff;
}
.lightgrey{
  color: #B5B5B5;
}
.black{
  color: #000000;
}
.info1{
  padding: 80px 0px;
}

.info2{
  h1{
    color: white;
    font-family: "komu-b",sans-serif;
    font-weight: 200;
    font-size: 28px;
  }
}

.outsetinfo{
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-right: 50px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px !important;
  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    width:500px;
  }
}
.generalinfo{
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  padding: 20px 0px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    width:500px;
    text-align: center;
  }
}
a{
  margin: 0px;
}
.info4{
  font-family: "komu-b",sans-serif;
  color: #3D3836;
}
.pneumainfo{
  color: #3D3836;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    width:500px;
  }
}
.info5{
  font-family: "komu-b",sans-serif;
  color: #fff;
  height: 100vh;
}
.pureinfo{
  color: #fff;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 110px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width:500px;
  }
}
.info6{
  font-family: "komu-b",sans-serif;
  color: #fff;
  margin:0px;
  h3{
  font-size: 18px;
  }
}
.info7{
  font-family: "komu-b",sans-serif;
  color: #fff;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width:500px;
        text-align: center;
  }
}
.info8{
  font-family: "komu-b",sans-serif;
  color: black;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width:500px;
        text-align: center;
  }
}
.plinfo{
  color: black;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  margin-left: 110px;
  padding: 80px 0px;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width:500px;
  }
}
.deinfo{
  color: white;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    width:500px;
  }
}
.HSBCinfo{
  color: red!important;
  font-family: "komu-b",sans-serif;
  font-weight: 200;
  a.color{
    color:red!important;
  }
  h1{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px;
  }
  h2{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width:500px;
    text-align: center;
  }
}
.akbackground{
  background-color: #DBD5B9;
}
.brown{
  color: #8D581E !important;
}
.nav .icon {
  display: none;
}

//new page layout//
.parallaximage{
display:none;
}
.topdescription{
  font-size: 13px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  padding: 70px 70px 70px 70px;
  .1{height: 200px;}
  .web{
    padding: 70px 70px 70px 70px;
  }
  h1{
    letter-spacing: 2px;
    margin-bottom: 180px;
  }
  h2{
    font-weight: 200;
    font-size: 18px;
  }
  h3{
    margin: 0px;

  }
  p{
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 200;
  }
  .left{
    padding: 60px 60px 60px 90px;
    width: 100%;
    img{
      width: 40px;
    }
  }
  .d{
    margin-bottom: 0px!important;
  }
  .right{
    padding: 60px 60px 60px 60px;
  }
  .left1{
    padding: 60px 60px 60px 60px;
    width: 100%;
    img{
      width: 40px;
    margin-bottom: 120px;
    }
  }
  .middle1{
    padding: 60px 60px 60px 60px;
    width: 100%;
  }
  .right1{
    padding: 60px 60px 60px 60px;
    width: 100%;
  }
}
.twosections{
  background-color:#191818;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  padding-bottom: 20px;
  h1{
    letter-spacing: 2px;
    margin-bottom: 180px;
  }
  h2{
    font-weight: 200;
    font-size: 18px;

  }
  h3{
    margin: 0px;
    font-size: 14px;
  }
  img{
    width: 640px;
  }
  .App{
    background-color: #9d8bc2;
    .left{
    padding: 50px 80px 0px 40px;
    }
  }
  .middledescription{
    padding: 70px 70px 70px 70px;
    h2{
      font-weight: 200;
      font-size: 18px;
    }
    p{
      font-family: "brandon-grotesque",sans-serif;
      font-weight: 200;
      font-size: 14px;
    }
    .left{
      padding: 60px 60px 60px 90px;
    }
    .right{
      padding: 60px 60px 60px 60px;
    }
  }
  .Website{
    padding: 70px 70px 70px 70px;
    background-color: #23243d;
    text-align: center;
  }
}
.outside{
  background-color: white;
  padding: 50px;
}
.middle{
  border: 1px solid black;
  fill: white;
  width: 800px;
  height: 400px;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

// Relevant styles

img {
  width: 100%;
  display: block;
}

.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .image-stack__item--top {
      float: left;
      width: 66%;
      margin-right: -100%;
      position: relative;
      z-index: 1; // tells the browser to make this image on top
  }

  .image-stack__item--bottom {
      float: right;
      width: 75%;
  }

@supports (display: grid) {
  .image-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(12, 1fr);
  }

  .image-stack__item--bottom {
    grid-column: 7 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 2;
  }

  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%; // slightly arbitrary, keeps proportion once resized
    width: 100%;
  }
}
//media queries//
@media only screen and (max-width: 768px) {
  .nav .icon {
    display: block;
    margin-right: 20px;
  }
  .bar{
    border-bottom: 1px solid black;
    margin-bottom: 6px;
    line-height: 20px;
    width: 20px;
  }
  .bottom{
    margin-bottom:30px;
  }
  .cm{
    display:none;
  }
  .mi{
    display:none;
  }
  .add{
    width: 100% !important;
  }
  .food1{
    width:620px;
    opacity: 0.9;
  }
  .shop1{
    width:620px;
    opacity: 0.9;
  }
  .law1{
    width:620px;
    opacity: 0.9;
  }
  .vy1{
    width:620px;
    opacity: 0.9;
  }
  .aik1{
    width:620px;
    opacity: 0.9;
  }
  .poo{
    width:620px;
    opacity: 0.9;
  }
  .boxo{
    border: 2px black solid;
    background: black;
    padding: 10px 10px 10px 300px;
  }
  .wu{
    font-family: "komu-b",sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    color: black;
    text-align: center;
        padding-top: 20px;
  }
  //outset//
  .rimg{
    width:600px;
  }
  //pure//
.widthforbigscreen{
  width:420px;
}
.heightforbigscreen{
  height: 500px;
}
//drive//
.ds{
  height:320px;
}
//about//
.lfa{
  font-family: "komu-b",sans-serif;
  font-size: 50px;
  letter-spacing: 30px;
  padding-bottom: 30px;
  padding-top: 40px !important;
}
}
//Iphone//
  @media only screen and (max-width: 600px) {

    .bottom{
      margin-bottom:30px;
    }
//aboutme//
  .main_txt{
    text-align: center;
    padding: 0px 20px;
    color: white;
  h1{
    font-size: 30px;

  }
  h2{
    font-size: 13px;
    font-weight: 300;
  }
  p{
    font-size: 10px;
    font-weight: 100;
  }
  .smallerh1{
    font-size: 18px;
  }
  }
  //myskills//
    .mst{
      font-size: 30px;
    }
    .wdt{
      padding: 5px 10px;
      margin: 0px;
      border: none;
      cursor: pointer;
    }
    .UXT{
      padding: 5px 10px;
      margin: 0px;
      border: none;
      cursor: pointer;
    }
    .UXT .show {
      display:inline;
      text-align: center;
    }
    .wdt .show {
      display:inline;
      text-align: center;
    }
    .bars1.responsive {position: relative;}
    .bars1.responsive .wdt {
      position: absolute;
      right: 0;
      top: 0;
    }
    .bars1.responsive object {
      float: none;
      display: block;
      text-align: left;
    }
    .bars2.responsive {position: relative;}
    .bars2.responsive .UXT {
      position: absolute;
      right: 0;
      top: 0;
    }
    .bars2.responsive object {
      float: none;
      display: block;
      text-align: left;
    }
    .bars1 object{display: none;}
    .bars2 object{display: none;}
    .whole{
      flex-direction: column;
    }

    //websitedevelopment//
    .wdadt{
      font-size: 30px;
    }
    .food1{
      width: 100%;
    }
    .shop1{
      width: 100%;
    }
    .law1{
      width: 100%;
    }
    .vy1{
      width: 100%;
    }
    .aik1{
      width: 100%;
    }
    .poo{
      width: 100%;
    }
    .t3{
      font-size: 10px;
      font-family: "komu-b",sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
    }
    .t1{
      font-size: 10px;
      font-family: "komu-b",sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
    }
    .t2{
      font-size: 10px;
      font-family: "komu-b",sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
    }
    .t4{
      font-size: 10px;
      font-family: "komu-b",sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
    }

      //photography//
      .categories{
        text-align: center;
        flex-direction: column;
        button{
          margin-bottom: 5px;
          padding: 10px 20px;
        }

      }

      //UX and Design//
      .UXt{
          text-align: center;
      }
      .difcategories{
        text-align: center;
        flex-direction: column;

      }
#section-4 button{
  margin-bottom: 5px;
  padding: 10px 20px;
}

.mi a{display: none;}
  .mi a.icon {
    display: block;
  }

  .mi.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;

    top: 0;
  }
  .mi.responsive a {
    float: none;
    display: block;
    text-align: center;

  }
  .sizemw{
    text-align: center;
    font-family: "komu-b",sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .logoo{

    }

    .vib1{
      width:140.75px;
      height:84.375px;
    }
    .vib2{
      width:140.75px;
      height:84.375px;
    }
    .vyy{
      width:137.285156px;
      height:87.3632812px;
    }
    .ia2i1{
      width:128.8125px;
      height:73.125px;
    }
    .ia2i2{
      width:112.5px;
    }
    .po2{
      width:77.088541px;
      height:110.273488px;
    }
    .ch1{
      width:89.16667px;
      height:119.333333px;
    }
    #Level1 p{
      font-size: 10px;
    }
    #Level2 p{
      font-size: 10px;
        margin: 0;
    }
    #Level2 h3{
      font-size: 12px;
      margin: 0;
    }
    #Level2 video{
      width: 240px;
      height: 180px;
    }
    .UXt{
      text-align: center;
    }
    .pl1{
      width:234.5px;
      height:129.25px;
    }
    .pl2{
      width: 156.534724px;
      height: 277.777778px;
    }
    .part1{
    h1{
      font-size: 14px;
    }
  }
  .part2{
  h1{
    font-size: 14px;
  }
}
    .part3{
    h1{
      font-size: 14px;
    }
  }
  .part4{
  h1{
    font-size: 14px;
  }
}
.po{
  width: 240px;
}
.websec{
  div{
    display: flex;
    flex-direction: column;
p{
  margin-top: 10px;
}
  }
}

//outset//
.om{
  padding-top: 100px;
  display:flex;
  flex-direction: column;
}
.outsetinfo{
  h1{
    font-size: 10px;
  }
}

//pure//
.outsetinfo{
  padding-top: 100px;
  align-items: center;
  text-align: center;
  p{font-size: 1rem;}
  margin-right: 0px !important;
}
.pm{
  display:flex;
  flex-direction: column;
}
.rimg{
  margin-top: 10px;
  width:420px;
}

.lp{
  display:flex;
  flex-direction: column;
}
.pp{
  display:flex;
  flex-direction: column;
}
.widthforbigscreen{
width:400px;
}
.heightforbigscreen{
height: 500px;
}
video{
  width:400px;
}
//drive//
.dm{
  display:flex;
  flex-direction:column;
}
.deinfo{
padding-top: 400px;
  align-items: center;
  text-align: center;
  p{font-size: 1rem;}
  margin-right: 0px !important;
  display: flex;
  flex-direction: column;
}
.deinfo2{
padding-top: 0px;
  align-items: center;
  text-align: center;
  p{font-size: 1rem;}
  margin-right: 0px !important;
  display: flex;
  flex-direction: column;
}
.driveposter{
  height:270px;}
.ds{
  height:120px;
}
.ab{
  display: flex;
  flex-direction: column;
}
.akinfo{
  margin-right: 0px;
  align-items: center;
  text-align: center;
}
.info3{
    padding-bottom: 300px;
}
.lfa{
  font-family: "komu-b",sans-serif;
  font-size: 20px;
  text-align: center;
  align-items: center;
  letter-spacing: 20px;
  padding-bottom: 30px;
  padding-top: 40px !important;
}
.as{
  font-size: 1.25rem;
}
.aminfo{
  font-size: 13px;
}

//otherpages//
.parallax{
display:none;
}
.parallaximage{
display: block;
overflow: hidden;
}
.parallax2{
  display: none;
}
.parallax3{
  display: none;
}
.topdescription{
  display: flex;
  flex-direction: column!important;
  align-items: flex-start;
  text-align: left;
  padding: 70px 70px 70px 40px;
  .1{height: 400px;}
  .left img {
    margin-bottom: 30px;
}

  h2 {
    font-weight: 200;
    font-size: 14px;
}
h3 {
   margin: 0px;
   font-size: 17px;
}
h4{
  font-size: 15px;
}
}
.vid{
  width: 300px!important;
  height: 300px!important;
}
.inside{
  flex-direction: column!important;
  align-items: flex-start;
}
.inside2{
  flex-direction: column!important;
  align-items: center;
}
.m{
  margin: 0px;
}
.left{
  padding: 0px!important;
  margin: 0px;
}
.right{
  padding: 0px!important;
}
.imgsize1{
  width: 310px!important;
}
.imgsize2{
  width: 200px!important;
}
.imgsize3{
  width: 415px!important;
  height: 415px!important;
}
.imgoverflow{
  overflow: hidden;
}
.bs{
  width: 400px!important;
}
.web{
  padding: 30px 40px 70px 40px!important;
}
.textw{
  margin-bottom: 40px;
}
.rs{
  width: 300px!important;
  text-align: left!important;
}
.container{
  padding: 0px;
  margin-bottom: 30px;
}
.subsec{
  flex-direction: column!important;
  align-items: flex-start;
  text-align: left!important;
}
@supports (display: grid) {
  .image-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(12, 1fr);
  }

  .image-stack__item--bottom {
    grid-column: 6 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 2;
  }

  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%; // slightly arbitrary, keeps proportion once resized
    width: 100%;
  }
}

}
