@import "flex";
body {
  padding: 0;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  background-color: #151516;
  color: white;
}
h1 {
  margin: 0px;
}
.topsec {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: white;
  padding-top: 30px;
}
h1 {
  font-family: balboa, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  margin-right: 10px;
  color: white;
}
.mainlogo {
  width: 17.4px;
  height: 56.2px;
}
.middlesection {
  height: 100vh;
  background-color: #151516;
}
a {
  cursor: pointer;
}
.midlg {
  width: 47.075px;
  height: 31.55px;
  margin-left: 20px;
}
.download {
  border: none;
  background: #9d8df1;
  color: white;
  padding: 10px 40px;
  font-family: balboa, sans-serif;
  border-radius: 25px;
  font-style: normal;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
}
.lm {
  border: none;
  background: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid lightgrey;
  font-family: balboa, sans-serif;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}
.text {
  text-align: center;
  font-family: balboa, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.box {
  border: 1px solid lightgrey;
  padding: 10px 25px;
}
.review {
  position: absolute;
  bottom: 120px;
  right: 100px;
  padding-bottom: 100px;

  h1 {
    letter-spacing: 2px;
    color: #9d8df1;
    font-size: 13px;
  }
  h2 {
    font-family: balboa, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: white;
    font-size: 10px;
    margin: 0px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  p {
    font-family: balboa, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: lightgrey;
    font-size: 10px;
    margin: 0px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
}
.js {
  width: 46.2083333px;
  height: 46.1666667px;
  margin-right: 20px;
}
.rate {
  margin-left: 10px;
  font-size: 10px;
  color: #9d8df1;
}
.lo {
  color: white;
  margin-right: 10px;
}
.move {
  margin-right: 30px;
}
.war {
  padding: 60px;
  background: #9d8df1;
  color: white;
  h1 {
    font-size: 19px;
  }
}
.wartext {
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  width: 400px;
}
.join {
  padding: 60px;
  background-image: url("images/ISOMETRIC.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    text-align: center;
    font-size: 20px;
  }
}
.da {
  width: 300px;
  cursor: pointer;
}
.fab {
  margin-right: 10px;
}
.footer {
  padding: 30px;
  p {
    font-size: 10px;
    font-weight: 200;
  }
}
a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .review {
    margin-left: 0px;
    top: 440px;
    right: 100px;
  }
  .middlesection {
    background-color: #151516;
  }
  .da {
    width: 200px;
  }
}
