.flex {
  display: flex; }

.align-center {
  align-items: center; }

.flex--center {
  justify-content: center; }

.flex-1 {
  flex: 1; }

.posa {
  position: absolute; }

.posr {
  position: relative; }

.txt-center {
  text-align: center; }

.flex--start {
  justify-content: flex-start; }

.flex--end {
  justify-content: flex-end; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

.fit {
  object-fit: cover;
  object-position: center center; }

.columns {
  flex-direction: column; }

.rows {
  flex-direction: row; }

.flex--space-around {
  justify-content: space-around; }

.flex--space-between {
  justify-content: space-between; }

body {
  padding: 0;
  margin: 0;
  font-family: "proxima-nova",sans-serif;
  font-weight: 900;
  background-color: black; }

h1 {
  margin: 0px; }

.part1 {
  background-color: white;
  height: 100vh; }
  .part1 h1 {
    font-size: 30px;
    letter-spacing: 3px; }

.part2 {
  background: black;
  height: 100vh; }
  .part2 h1 {
    font-size: 30px;
    color: #9F804A; }
  .part2 .ft1 {
    color: white; }
  .part2 .ft2 {
    color: white; }

.part3 {
  background: black;
  height: 100vh; }
  .part3 h1 {
    font-size: 30px;
    cursor: pointer;
    color: white;
    width: 20px; }
  .part3 .ft3 {
    color: #9F804A; }

.part4 {
  background: black;
  height: 100vh; }
  .part4 h1 {
    font-size: 30px;
    cursor: pointer;
    color: white;
    width: 20px;
    letter-spacing: 3px; }

.part5 {
  background: white;
  height: 100vh; }
  .part5 a {
    text-decoration: none; }
  .part5 h1 {
    font-size: 30px;
    cursor: pointer;
    color: black;
    letter-spacing: 3px; }

.o {
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.anim-typewriter1 {
  border-right: 3px solid black;
  animation: typewriter1 2s steps(2) 1s 1 normal both, blinkTextCursor1 500ms steps(2) infinite normal; }

@keyframes typewriter1 {
  from {
    width: 0; }
  to {
    width: 1.1em; } }

@keyframes blinkTextCursor1 {
  from {
    border-color: transparent; }
  to {
    border-color: black; } }

.anim-typewriter2 {
  border-right: 3px solid white;
  animation: typewriter2 2s steps(30) 1s 1 normal both, blinkTextCursor2 500ms steps(30) infinite normal; }

@keyframes typewriter2 {
  from {
    width: 0; }
  to {
    width: 25em; } }

@keyframes blinkTextCursor2 {
  from {
    border-color: transparent; }
  to {
    border-color: white; } }

.anim-typewriter3 {
  border-right: 3px solid white;
  animation: typewriter3 2s steps(7) 1s 1 normal both, blinkTextCursor3 500ms steps(7) infinite normal; }

@keyframes typewriter3 {
  from {
    width: 0; }
  to {
    width: 6em; } }

@keyframes blinkTextCursor3 {
  from {
    border-color: transparent; }
  to {
    border-color: white; } }

.anim-typewriter4 {
  border-right: 3px solid black;
  animation: typewriter4 2s steps(10) 1s 1 normal both, blinkTextCursor4 500ms steps(10) infinite normal; }

@keyframes typewriter4 {
  from {
    width: 0; }
  to {
    width: 8em; } }

@keyframes blinkTextCursor4 {
  from {
    border-color: transparent; }
  to {
    border-color: black; } }

.anim-typewriter5 {
  border-right: 3px solid white;
  animation: typewriter5 2s steps(29) 1s 1 normal both, blinkTextCursor5 500ms steps(29) infinite normal; }

@keyframes typewriter5 {
  from {
    width: 0; }
  to {
    width: 13em; } }

@keyframes blinkTextCursor5 {
  from {
    border-color: transparent; }
  to {
    border-color: white; } }

.main-body {
  background: white; }

.am {
  height: 100vh; }

.toppt p {
  letter-spacing: 2px; }

.infopart {
  padding: 30px 90px 60px 90px; }

.skill_set {
  margin-left: 400px; }

a {
  text-decoration: none; }

.logo {
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
  font-size: 20px;
  color: #E23E57;
  cursor: pointer; }

.l1 {
  border-bottom: 4px solid #9F804A;
  width: 0%;
  text-align: center;
  animation: line1 2s linear forwards; }

@keyframes line1 {
  from {
    right: 0%;
    width: 0%; }
  to {
    left: 90%;
    width: 190px; } }

.l2 {
  border-bottom: 4px solid #9F804A;
  width: 0%;
  text-align: center;
  animation: line2 2s linear forwards; }

@keyframes line2 {
  from {
    right: 0%;
    width: 0%; }
  to {
    left: 90%;
    width: 120px; } }

.l3 {
  border-bottom: 4px solid #9F804A;
  width: 0%;
  text-align: center;
  animation: line3 2s linear forwards; }

@keyframes line3 {
  from {
    right: 0%;
    width: 0%; }
  to {
    left: 90%;
    width: 30px; } }

.about_me .big {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px; }

.about_me .middle {
  font-size: 20px;
  margin-bottom: 0px; }

.about_me .small {
  font-size: 15px; }

.top_name {
  padding-bottom: 50px; }

.name {
  margin-top: 0px; }

.work {
  background: white;
  height: 100vh;
  color: black; }

.top_work {
  padding-top: 50px;
  font-size: 30px; }

.categories {
  font-size: 15px; }

div.tab {
  overflow: hidden; }

.tabcontent {
  display: none; }

div.categories button.active {
  color: grey; }

button {
  border: none;
  background: none;
  color: black;
  font-family: "proxima-nova",sans-serif;
  font-weight: 900;
  text-decoration: none; }

.tabcontent {
  color: black; }

#Websites {
  padding: 50px; }

.vyco {
  border: solid black 2px;
  padding: 50px 30px;
  background: #27274d; }
  .vyco p {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 70px;
    color: #E23E57;
    margin: 0; }
