@import "flex";
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
$hint: #f9b233;
$font:"Satisfy",sans-serif;

body{
  margin:0;
  padding:0;
  font-weight: normal;

}
a{
  text-decoration: none;
}
section.enter-site {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  .lg{
    width:300.5px;
    height:292.75px;
  }
  .lg:hover{
  content: url('images/biglogo1.png');
  }
}

section.enter-site p{
    font-family: "ff-prater-sans-web",sans-serif;
    color: #8d581e;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 2px;

}
  .emaila{
    font-size: 20px;
    font-family: "ff-prater-sans-web",sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 30px;
  }
  .emaila:hover{
    color: #ae9a65;
  }

    section.enter-site .button, section.enter-site .menu {
    padding: 15px 100px;
    border: 3px solid #ae9a65;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    }
    section.enter-site .button:hover, section.enter-site .menu:hover {
      cursor: pointer;
      border: 3px solid grey;
     }
    section.enter-site .button:hover .hover, section.enter-site .menu:hover .hover {
        opacity: 1;
      }


.lg{
  width:76.5px;
  height:74.5px;
}
.lg:hover{
content: url('images/nlh.png');
}
  .logo2{
    font-family: "ff-prater-sans-web",sans-serif;
    color: #8d581e;
    font-size: 30px;
    letter-spacing: 2px;
    margin:0;
  }
  .logo2:hover{
    color: #ae9a65;
  }
  .link{

  }
  .link a{
    z-index: 10;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 30px 50px 30px 50px;
    border-right: solid grey 1px;
    color: black;
    cursor:pointer;

    &:visited{
      color: black;
    }
    &:hover{
      color: #8d581e;
    }
  }

  .rnav{
    display:none;
  }
  #lines{
        height: 5px;
        width: 25px;
        border-bottom: 4px solid black;
  }
  ul{
    list-style: none;
  }
  .sidenav {
      height: 100%;
  		width: 0;
      position: fixed;
      z-index: 5000;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      text-align:center;
      opacity: 0.95;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      .o{

        a{
          list-style: none;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 10px;
          font-family: "europa",sans-serif;
          font-weight: lighter;
          margin-left: 30px;
          padding: 10px;
          color: black;
          &:hover{
            color:grey;
          }
      }
      }
  }
  .sidenav ul{
  	padding-left: 0px;
  }
  .sidenav .nav {
      color: black;
      display: block;
      text-align: center;
      margin-bottom: 20px;
    	padding: 15px;
    	letter-spacing: 2px;

  }

  .sidenav a:hover{
      text-decoration: none;
      color: #f1f1f1;
  }
  .sidenav .closebtn {
  	padding-top: 60px;
      font-size: 10px;
      margin-left: 25px;
      color: black;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      &:hover{
        color: red;
      }
  }
  /* The Modal (background) */
.modal {
  -webkit-z-index:50;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  -webkit-z-index:50;
  z-index: 50;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:300px;

    h1{
      font-family: "ff-prater-sans-web",sans-serif;
      font-weight: lighter;
      color: #8d581e;
    }
    p{
      font-family: "europa",sans-serif;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 9px;
      text-transform: uppercase;
    }
    .iconm{
      a{
      border-right: none;
      font-size: 25px;
      padding: 10px;
    }
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fixed_nav{
  padding: 20px 0px;
  background: white;
  width: 100%;


}

.top_header{
  background:  whitesmoke;
  padding: 10px;
}
.circle{
  margin-right: 50px;
}
  i{
    margin-right: 9px;
    color: lightgrey;


  }

  .fa-snapchat-ghost{

   padding: 6px 7px;
   display: inline-block;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;

   &:hover{
     color: #F9FB35;
   }
  }

  .fa-instagram{
    padding: 6px 8px;
   display: inline-block;


   &:hover{
     content: url('images/instal.png');
     width:12px;
     height:12px;
     border-radius: none;
   }
  }

  .fa-twitter{
    padding: 6px 7px;
   display: inline-block;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   &:hover{
     color: #4099FF;
   }
  }
.ak_name h1{
  font-family: "europa",sans-serif;
  font-weight: lighter;
  font-size: 8px;
  margin-left: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

#lu.slick{
    margin-top: 0px!important;
    position: fixed;
    top: 0px;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
section.head-wrap{
  padding: 135px 60px;
  background: #ae9a65;
  z-index: -1;

  .ol{

  }


  h1{

    font-size: 50px;
    font-family: "ff-prater-sans-web",sans-serif;
    color: #8d581e;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
  }

    p{
      font-size: 50px;
      margin: 0;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      font-family: "europa",sans-serif;
      font-weight: lighter;
      color: white;


    }
    span{
      color: #8d581e;
      font-family: "ff-prater-sans-web",sans-serif;

    }

  .box2{
    padding: 40px;
    button{
      cursor: pointer;
    border: 5px solid white;
    outline: 2px solid white;
    background: #fff;
    outline-offset: 9px;
    letter-spacing: 2px;
    font-size: 10px;
    padding:15px 90px;
    color: #ae9a65;
    font-family: "europa",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
  }
  }

}


section.complete-wrapper{
  padding: 150px;
  background: #fff;

}
  .first{
    width: 100%;
    a{
      text-decoration: none;
      border: 1px solid #ae9a65;
      padding: 2px 55px;
      margin: 50px;
      cursor:pointer;
    }
    //new\\
    a:hover{
      border: 1px solid grey;
      p{
        color: grey;
      }
    }
  }
    .first h1{
      font-size: 9px;
      color: black;
      letter-spacing: 4px;
    }
    .first p{
      letter-spacing: 2px;
      color:#ae9a65;
      font-family: "ff-prater-sans-web",sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: lighter;
    }
    .tabcontent {
        display: none;
        padding: 10px 10px;
        border: 1px solid #ae9a65;
        overflow: auto;
        height: 200;
        width:98%;
        letter-spacing: 4px;
        font-family: "europa",sans-serif;
        text-transform: uppercase;
        font-weight: lighter;
        h1{
          font-family: "ff-prater-sans-web",sans-serif;
          font-size: 30px;
          font-weight: lighter;
          letter-spacing: 3px;
          color: grey;
          text-align:center;
        }
        h2{
          border:1px solid #ae9a65;
          padding: 15px;
          font-size: 10px;
        }
        p{
          font-size:9px;
          border-bottom: 1px solid #f0efef;
          border-spacing: 5px;
          padding-bottom: 20px;



        }

        .chere{
        border-bottom: none;
        padding-bottom: none;

        a{
          color: red;
          text-decoration: none;
        }
        }
    }
    .o{
      float:right;
      cursor:pointer;
    }
    .o:hover{
      color: red;
    }

section.locker{
  background: #ae9a65;
  padding: 150px;
  h1{
    font-family: "ff-prater-sans-web",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
  }
  p{
    color: white;
    font-family: "europa",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size:12px;
    margin:15px;
    letter-spacing: 4px;
  }
}
.firstv2{
  width: 100%;

}

  section.companies{
    background: #fff;
    padding: 60px;
    h1{
      font-family: "ff-prater-sans-web",sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 30px;
      letter-spacing: 2px;
      color: #8d581e;
    }
    p{
      font-family: "europa",sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 4px;
      font-size: 10px;
      text-align: center;
      line-height: 40px;
    }
}

section.food{
  background: #8d581e;
  padding: 150px;
  h1{
    font-family: "ff-prater-sans-web",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
  }
  p{
    font-family: "europa",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
    border: 1px solid white;
    background: white;
    padding: 10px;
    font-size: 10px;
    line-height: 40px;

  }

}

  footer.foot{
  background: whitesmoke;
  padding: 40px;
  text-decoration: none;

  h1{
    font-family: "ff-prater-sans-web",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    outline: none;
  }
  .col{
  }
  .col h1{
    font-size: 40px;

  }
  .col p{
    font-size: 9px;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    font-family: "europa",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;

  }

  .un p{
    font-size: 9px;
    color: black;
    letter-spacing: 4px;
    font-family: "europa",sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    span{
      font-family: "ff-prater-sans-web",sans-serif;
      letter-spacing: 2px;
      font-size: 20px;
      color: #8d581e;
    }
  }
}
footer.vyco{
  background: black;

  p{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 5px;
    span{
      font-family: 'Satisfy', cursive;
      letter-spacing: 0px;
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 748px) {

  //headpart//

  section.head-wrap{
    h1{
      font-size: 50px;
    }

      p{
        font-size: 40px;
      }
  }

  //rows\\\
  section.complete-wrapper{
    padding: 50px;
    background: #fff;

  }
  .first{
    a{
      padding: 2px 25px;
      margin: 10px;
    }
  }

    .first p{
      font-size: 15px;

    }
//tabconnt\\

.chere{
display: flex;
align-items: center;
justify-content: center;

a{
  display: flex;
  align-items: center;
  justify-content: center;

  }
}
//keep in touch//

section.locker{
  background: #ae9a65;
  padding: 90px;
  h1{
    font-size: 25px;
  }
  p{
    font-size:10px;
    margin:10px;
  }
}
.firstv2{
  display: flex;
  flex-direction: column;
}
//message part//
section.companies{
  padding: 60px;
  h1{
    font-size: 25px;
  }
}
//about&gall//

section.food{
  padding: 100px;
  h1{
    font-size: 25px;
  }
}

footer.foot{
padding: 20px;
display: flex;
align-items: center;
justify-content: center;

.col h1{
  font-size: 30px;

}
.col p{
  font-size: 9px;
}

.un p{
  font-size: 9px;
  span{
    font-size: 10px;
  }
}
}
.link .nav{
  display: none;
  border: none;
}
a.icon{
    display: block;
  }
  .rnav {
  	display: block;
  	float: right;

   }
  }
  /* Mobile Version */
  @media only screen and (max-width: 480px) {
    a.icon{
        display: block;
        margin-right: 100px;
      }
    //headpart//

    section.head-wrap{
      padding: 40px;

      h1{
        font-size: 25px;
        line-height: 50px;
      }
      div br{
        display: none;
      }
        p{
          font-size: 17px;
          line-height: 50px;
        }
        .box2{
          padding: 10px;
          a button{
            padding:8px 80px;
          }
        }
    }

    //rows\\\
    section.complete-wrapper{
      padding: 50px;
      background: #fff;

    }
    .first{
      a{
        padding: 2px 40px;
        margin: 10px;
      }
    }

      .first p{
        font-size: 10px;

      }
  //tabconnt\\

  .chere{
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    display: flex;
    align-items: center;
    justify-content: center;

    }
  }
  //keep in touch//

  section.locker{
    background: #ae9a65;
    padding: 90px;
    h1{
      font-size: 20px;
    }
    p{
      font-size:8px;
      margin:10px;
    }
  }
  .firstv2{
    display: flex;
    flex-direction: column;
  }
  //message part//
  section.companies{
    padding: 60px;
    h1{
      font-size: 25px;
    }
    p{
      font-size: 8px;
    }
  }
  //about&gall//

  section.food{
    padding: 100px;
    h1{
      font-size: 25px;
    }
    p{
      font-size: 8px;
    }
  }

  footer.foot{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .col h1{
    font-size: 30px;

  }
  .col p{
    font-size: 8px;
  }

  .un p{
    font-size: 8px;
    span{
      font-size: 10px;
    }
  }
  }
  }
